.validationMessage {
    color: red;
    font-weight: bold;
}

.textCenter {
    text-align: center;
}

.textRight {
    text-align: right;
}

.width100Px {
    width: 100px;
}

.width100Percent {
    width: 100%;
}
