<div data-bind="foreach: messages">
    <div data-bind="visible: $data, css: cssClass, attr: {id: cssClass}" class="alert alert-dismissible"
         role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span data-bind="text: data"></span>
    </div>
</div>