<div id="orderPanel" data-bind="visible: routs.isPage('order'), with: order" >
    <div class="panel panel-primary">
        <div class="panel-heading">Your shopping</div>
        <div class="panel-body">
            <table class="table table-striped" data-bind='visible: lines().length > 0'>
                <thead>
                <tr>
                    <th width='30%'>Product</th>
                    <th width='20%' class="textRight">Price</th>
                    <th width='15%'>Quantity</th>
                    <th width='20%' class="textRight">Total Amount</th>
                    <th class="textCenter">Actions</th>
                </tr>
                </thead>
                <tbody data-bind='foreach: lines'>
                <tr>
                    <td data-bind='with: product'>
                        <span data-bind='text: name' class="text-uppercase text-info"> </span>
                    </td>
                    <td data-bind='with: product' class="textRight">
                        <span data-bind='text: utils.formatCurrency(price)'> </span>
                    </td>
                    <td>
                        <input type="number" min="0" class="width100Percent" required
                               data-bind='value: quantity, valueUpdate: "afterkeydown",
                                          attr: {max: product().quantity, disabled: product().quantity == 0, id: "order_line_" + id}' title="">
                    </td>
                    <td class='textRight'>
                        <span data-bind='text: utils.formatCurrency(subtotal())'> </span>
                    </td>
                    <td class="textCenter">
                        <a href='#' data-bind='click: $parent.clearLine'>Clear</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <p>
                <strong>Total Order Value: <span data-bind='text: utils.formatCurrency(grandTotal())'></span></strong>
            </p>
        </div>
    </div>
    <button id="buyButton" type="button" class="btn btn-primary active pull-right"
            data-bind='click: $parent.routs.goToSummary, enable: grandTotal() > 0'>
        Buy
    </button>
</div>