<div id="prodPanel" class="panel panel-primary" data-bind="visible: routs.isPage('order'), with: products">
    <div class="panel-heading">Currently available in our shop</div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th width='30%'>Product</th>
            <th>Availability</th>
        </tr>
        </thead>
        <tbody data-bind='foreach: products'>
        <tr>
            <td>
                <span data-bind='text: name' class="text-uppercase text-info"></span>
            </td>
            <td>
                <div data-bind="visible: quantity > 0" class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuemax="numberOfAvailableItems()"
                         data-bind="attr: {style: 'width: ' + utils.calculatePercent(numberOfAvailableItems(), quantity) + '%;'}">
                        <span data-bind="text: numberOfAvailableItems(), attr: {id: 'progress_bar_' + id}"></span> left
                    </div>
                </div>
                <span data-bind='visible: quantity == 0'>Product not available</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>