<div id="summaryPanel" data-bind="visible: routs.isPage('summary'), with: order">
    <div class="panel panel-primary">
        <div class="panel-heading">Summary Order Details</div>
        <table class="table">
            <thead>
            <tr>
                <th width='30%'>Product</th>
                <th width='20%' class="textRight">Price</th>
                <th width='15%' class="textRight">Quantity</th>
                <th class="textRight">Total Amount</th>
            </tr>
            </thead>
            <tbody data-bind='foreach: orderedLines'>
            <tr>
                <td data-bind='with: product'>
                    <span data-bind='text: name' class="text-uppercase text-info"> </span>
                </td>
                <td data-bind='with: product' class="textRight">
                    <span data-bind='text: utils.formatCurrency(price)'> </span>
                </td>
                <td class="textRight">
                    <span class="width100Percent" data-bind='text: quantity'> </span>
                </td>
                <td class='textRight'>
                    <span data-bind='text: utils.formatCurrency(subtotal())'> </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="pull-right">
        <button id="cancelButton" type="button" class="btn btn-default active"
                data-bind='click: $parent.routs.backToHome'>Cancel
        </button>
        <button id="finishButton" type="button" class="btn btn-primary active"
                data-bind='click: $parent.orderService.buy, enable: grandTotal() > 0'>Finish
        </button>
    </div>
</div>